# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Docker
*.log

# Nginx Proxy Manager data (contiene claves y certificados)
npm_data/
npm_letsencrypt/
